.App {
  text-align: center;
}

nav {
  display: flex;
  margin-bottom: 50px;
}

nav a {
  text-decoration: none;
  color: gray;
  padding: 20px;

}

.selected {
  background-color: blue;
  color: white
}

.Smurf {
  margin: 10px auto;
  border: 1px solid gray;
  background-color: #F8F8F8;
  width: 200px;
  height: 150px;

}