.App {
  text-align: center;
}

nav {
  display: flex;
  margin-bottom: 50px;
}

nav a {
  text-decoration: none;
  color: gray;
  padding: 20px;

}

.selected {
  background-color: blue;
  color: white
}